@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Poppins&family=Secular+One&display=swap");
/* general styales */
* {
  font-family: "Open Sans", sans-serif;
}
:root {
  --primary-clr: #fd6e0a;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
nav > ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
.primary-btn {
  font-size: 20px;
  border: 0;
  background-color: var(--primary-clr);
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  font-weight: 700;
}
.nav-title {
  color: hsl(0, 0%, 9%);
  font-size: 45px;
  font-weight: 800;
}
.nav-title span {
  color: var(--primary-clr);
}
/* header styles */
.header {
  background-color: #fff8f3;
}
