@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Poppins&family=Secular+One&display=swap");
* {
  font-family: "Open Sans", sans-serif;

  background-color: white;
}
:root {
  --primary-clr: #fd6e0a;
}
.header {
  background-color: #fff8f3;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
  background-color: inherit;
}
.navbar > ul {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: inherit;
}
.navbar li {
  list-style: none;
  background-color: inherit;
}
.navbar li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  background-color: inherit;
}
.primary-btn {
  font-size: 20px;
  border: 0;
  background-color: var(--primary-clr);
  color: #fff;
  padding: 15px 35px;
}
.nav-title {
  color: #181818;
  background-color: inherit;

  font-size: 45px;
  font-weight: 800;
}
.nav-title span {
  color: var(--primary-clr);
}
