@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Poppins&family=Secular+One&display=swap");
/* general /shared styales */
* {
  font-family: "Open Sans", sans-serif;
}
.section-title {
  color: var(--Dark-01, #181818);
  text-align: center;

  font-size: 35px;

  font-weight: 700;
}
.section-details {
  color: var(--Dark-03, #757575);
  text-align: center;

  font-size: 18px;
  margin: 30px 0;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
:root {
  --primary-clr: #fd6e0a;
  --dark-01: #181818;
  --dark-02: #474747;
  --Dark-03: #757575;
  --secondary-clr: #fff8f3;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
nav > ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: var(--dark-02, #474747);
  font-size: 20px;
}
.primary-btn {
  font-size: 20px;
  border: 0;
  background-color: var(--primary-clr);
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  font-weight: 700;
}
.nav-title {
  color: #171717;
  font-size: 45px;
  font-weight: 800;
}
.nav-title span {
  color: var(--primary-clr);
}
/* header styles */
.header {
  background-color: var(--secondary-clr, #fff8f3);
}
/* BANNER RELATED STYLES */
.banner {
  padding: 30px 30px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner-content {
  max-width: 500px;
}
.banner-greeting {
  color: var(--dark-02, #474747);
  font-size: 45px;

  font-weight: 600;
  margin-bottom: 5px;
}
.banner-title {
  color: var(--Dark-01, #181818);
  margin-top: 0px;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-content > p {
  color: var(--Dark-03, #757575);

  font-size: 18px;

  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 20px;
  margin-bottom: 30px;
}
.banner-btns {
  display: flex;
  gap: 30px;
}
.ContactBtn {
  background-color: white;
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
}
.profile-pic {
  width: 500px;
  flex-shrink: 0;
}
/* main section styles */
.sections {
  max-width: 1140px;
  margin: 130px auto;
  display: flex;
  flex-direction: column;
  gap: 130px;
}

/* about section styles */

.about {
  padding: 130px;
  background-color: var(--secondary-clr, #fff8f4);
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.about-info {
  text-align: center;
  color: var(--Dark-03, #757575);

  font-size: 20px;
  margin-bottom: 10px;

  font-weight: 400;
}
.info_details {
  color: var(--Dark-02, #474747);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
}

/* what ido section */
.what-i-do-details {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 25px;
  align-items: center;
}
.skill {
  border-radius: 5px;
  background: #fff;
  padding: 30px 35px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill > img {
  width: 44px;
  margin-bottom: 30px;
}
.skill-title {
  margin-top: 0;
  color: var(--Dark-01, #181818);
  text-align: left;

  font-size: 20px;

  font-weight: 700;
  margin-bottom: 20px;
}
.skill-details {
  color: var(--Dark-03, #757575);

  font-size: 16px;

  font-weight: 400;
  line-height: 28px; /* 175% */
}

/* resume related style */
.resume-column-title {
  color: var(--Dark-02, #474747);

  font-size: 30px;

  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 70px;
  margin-top: 100px;
}
.resume-det-title {
  color: var(--Dark-02, #474747);

  font-size: 25px;

  font-weight: 700;
}
.resume-det-sub {
  color: var(--Dark-03, #757575);

  font-size: 20px;

  font-weight: 600;
}
.resume-det-details {
  color: var(--Dark-03, #757575);

  font-size: 16px;

  font-weight: 400;
  line-height: 28px; /* 175% */
}
.resume-details {
  margin: 30px 0;
  padding-right: 50px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}
